<div class="text-center"><h1 style="color:black"> Edit Employee</h1></div>
<div class="container">
    <div class="super_container" style="background-repeat: no-repeat; background-size: cover; position: static">
                <label>Identity and Name</label><br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-5">

            <b><label>Employee ID  <span style="color:#FF0000">*</span></label></b>
            <input disabled="true" type="text" formControlName="EmployeeID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EmployeeID.errors }" />
            <div *ngIf="submitted && f.EmployeeID.errors" class="invalid-feedback">
                <div *ngIf="f.EmployeeID.errors.required">EmployeeID is required</div>
            </div>
        </div>

        <div class="form-group col-5">
            <b><label>Designation  <span style="color:#FF0000">*</span></label></b>
             <p-dropdown [options]="Designation"  formControlName="Designation" filter="true">
                              </p-dropdown>
            <div *ngIf="submitted && f.Designation.errors" class="invalid-feedback">
                <div *ngIf="f.Designation.errors.required">Designation is required</div>
            </div>
        </div>
    </div>
       <div class="form-row">
        <div class="form-group col-5">
            <b><label>FirstName  <span style="color:#FF0000">*</span></label></b>
            <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
            <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                <div *ngIf="f.FirstName.errors.required">FirstName is required</div>
            </div>
        </div>

        <div class="form-group col-5">
            <b><label>LastName  <span style="color:#FF0000">*</span></label></b>
            <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
            <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>

<div class="form-row">
        <div class="form-group col-5">
            <b><label>MobileNumber  <span style="color:#FF0000">*</span></label></b>
            <input type="number" formControlName="MobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MobileNumber.errors }" />
            <div *ngIf="submitted && f.MobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.MobileNumber.errors.required">MobileNumber is required</div>
            </div>
        </div>

        <div class="form-group col-5">
            <b><label>Email  <span style="color:#FF0000">*</span></label></b>
            <input type="email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                <div *ngIf="f.Email.errors.required">Email is required</div>
            </div>
        </div>
    </div>

    <b><label>Client info</label></b>
      <div class="form-row">
        <div class="form-group col-5">
            <b><label>Client Name  <span style="color:#FF0000">*</span></label></b>
            <p-dropdown [options]="Client"  formControlName="Client" filter="true">
            </p-dropdown>
            <div *ngIf="submitted && f.Client.errors" class="invalid-feedback">
                <div *ngIf="f.Client.errors.required">Client is required</div>
            </div>
        </div>


        <div class="form-group col-5">
            <b><label>Site</label></b>
            <p-dropdown [options]="Site"  formControlName="Site" filter="true">
            </p-dropdown>
            <div *ngIf="submitted && f.Designation.errors" class="invalid-feedback">
                <div *ngIf="f.Site.errors.required">Site is required</div>
            </div>
        </div>
       <!-- <div class="text-center">
            <button [disabled]='!registerForm.valid' class="btn btn-success" type="submit">Add</button> &nbsp;
            &nbsp; &nbsp; &nbsp;

    </div> -->
</div>
    
<label>Role</label><br>
<div class="form-group col-5">
<b><label>User Role</label></b>
<p-dropdown [options]="UserRole"  formControlName="UserRole" filter="true">
</p-dropdown>
<div *ngIf="submitted && f.UserRole.errors" class="invalid-feedback">
<div *ngIf="f.UserRole.errors.required">UserRole is required</div>
</div>
</div>

<label>Location</label>
<div class="form-row">
<div class="form-group col-5">
    <b><label>Block</label></b>
    <p-dropdown [options]="Block"  formControlName="Block" filter="true">
    </p-dropdown>
    <div *ngIf="submitted && f.Block.errors" class="invalid-feedback">
        <div *ngIf="f.Block.errors.required">Block is required</div>
    </div>
</div>


<div class="form-group col-5">
    <b><label>Floor</label></b>
    <p-dropdown [options]="Floor"  formControlName="Floor" filter="true">
    </p-dropdown>
    <div *ngIf="submitted && f.Floor.errors" class="invalid-feedback">
        <div *ngIf="f.Floor.errors.required">Floor is required</div>
    </div>
</div>


<div class="text-center">
    <b><label>Zone</label></b>
    <p-dropdown [options]="Zone"   formControlName="Zone" filter="true">
    </p-dropdown>
    <div *ngIf="submitted && f.Zone.errors" class="invalid-feedback">
        <div *ngIf="f.Zone.errors.required">Floor is required</div>
    </div>
    
</div>

<!-- <div class="text-center">
    &nbsp; &nbsp; &nbsp; <button  class="btn btn-success"  type="submit">Add</button> &nbsp;
    

</div> -->
</div>

<div class="text-center">
    <button  class="btn-aspen-orange"  (click)="updateEmployee(registerForm.value)" type="submit">Update</button> &nbsp;
     <button class="btn-aspen-orange"  (click)="cancelAdd()" type="reset">Cancel&nbsp; &nbsp; </button>
</div>


</form>
 </div>
</div>

